h1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    background-color: brown;
    margin: 0;
    display: flex;             /* Activa flexbox en el body */
    flex-direction: column;     /* Coloca los elementos en columna */
    justify-content: center;    /* Centra verticalmente */
    align-items: center;        /* Centra horizontalmente */
    min-height: 100vh;          /* Asegura que el body tenga al menos el tamaño de la pantalla */
    box-sizing: border-box;
}

.box1{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:300px;
    box-sizing: border-box;
}
.formulario {
    border: 5px solid blue;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea los elementos al centro horizontalmente */
    justify-content: center;
    width: 250px;
    padding: 0;
    height: 250px;
    box-sizing: border-box;
}

.formulario input, .formulario button {
    background-color: blanchedalmond;
    border: 5px solid blueviolet;
    margin: 10px; /* Espaciado general */
    padding: 10px;
    width: 200px; /* Ajusta el ancho de los inputs y botón */
}
.formulario:hover{
    border-color: aquamarine;
}
.formulario input:hover{
    border-color:brown;
}
.formulario button:hover{
    border-color:brown;
    cursor:pointer;
}
.imagen{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    margin: 20px;
    background-image: url(menreunion.jpg);
    background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el contenedor */
    background-position: center;
    background-attachment: fixed;
    display: flex; /* Activa flexbox para alinear los elementos */
    justify-content: space-around; /* Distribuye los boxes de manera equitativa */
    align-items: center; /* Alinea verticalmente los boxes */
    position: relative;
}

.boxi, .boxi2, .boxi3 {
    width: 20%;
    height: 150px;
    background: rgba(0, 0, 0, 0.6); /* Fondo negro con transparencia del 60% */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    box-sizing: border-box;
    margin: 0 20px; /* Añade un margen entre los boxes */
    padding: 10px;
}

.boxi h2, .boxi2 h2, .boxi3 h2, .boxi p, .boxi2 p, .boxi3 p {
    color: white;
    text-align: center; /* Alinea el texto al centro */
    margin: 0;
}

.boxi h2, .boxi2 h2, .boxi3 h2{
    font-size: 2rem; /* Ajusta el tamaño de la fuente de los números */
    margin-bottom: 10px;
}


