h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ededed;
    font-size: 55px;
}
body {
    background-color: #000d;
    margin: 0;
    display: flex;             /* Activa flexbox en el body */
    flex-direction: column;     /* Coloca los elementos en columna */
    justify-content: center;    /* Centra verticalmente */
    align-items: center;        /* Centra horizontalmente */
    min-height: 100vh;          /* Asegura que el body tenga al menos el tamaño de la pantalla */
    box-sizing: border-box;
}

.box1{
    border: 5px solid #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size: 20px;
    width:650px;
    box-sizing: border-box;
}
.formulario {
    margin-top: 60px;
    background-color: rgba(188, 10, 10, 0);
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
}
fieldset{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}
legend{
    color:white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#form{
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    display:flex;
    margin-top: 0;
    flex-direction: column;
    align-items: center;
}

/*FileUpload con boton customizado*/
.custom-file-upload {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 10px;
}   

input[type="file"] {
    display: none; /* Oculta el botón original */
}

.custom-file-label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #023305;
    color: white;
    cursor: pointer;
    width :30%;
    font-size: 19px;
    border-radius: 5px;
}

.custom-file-label i {
    margin-right: 10px;
}

.custom-file-label:hover {
    background-color: #b7c9b8;
}

/*TextArea*/
textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    /*field-sizing: content;
    Propiedad aun no disponible que a la par que vas escribiendo se adapta automaticamente.*/
}
.formulario:hover{
    border-color: #ededed;
}
.formulario input:hover, .formulario textarea:hover{
    border-color: #ededed;
    box-shadow: 0 0 80px #000;
}
button {
    margin: 10px auto; /* Esto centra el botón horizontalmente */
    background-color: #fff0;
    border: 3px solid black;
    border-radius: 30px;
    color: #ededed;
    font-family: sans-serif;
    font-size: 25px;
    margin-top: 30px;
    width: 35%;
    height: 65px;
}
.formulario button:hover{
    cursor:pointer;
}
.imagen{
    width: 100%;
    height: 350px;
    box-sizing: border-box;
    margin: 20px;
    background-image: url(Multimedia/menreunion.jpg);
    background-size: cover; /* Ajusta la imagen de fondo para que cubra todo el contenedor */
    background-position: center;
    background-attachment: fixed;
    display: flex; /* Activa flexbox para alinear los elementos */
    justify-content: space-around; /* Distribuye los boxes de manera equitativa */
    align-items: center; /* Alinea verticalmente los boxes */
    position: relative;
}

.boxi, .boxi2, .boxi3 {
    width: 20%;
    height: 150px;
    background: rgba(0, 0, 0, 0.6); /* Fondo negro con transparencia del 60% */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido */
    align-items: center; /* Centra horizontalmente el contenido */
    box-sizing: border-box;
    margin: 0 20px; /* Añade un margen entre los boxes */
    padding: 10px;
}
.boxi:hover , .boxi2:hover, .boxi3:hover{
    box-shadow: 0 0 66px #000;
}

.boxi h2, .boxi2 h2, .boxi3 h2, .boxi p, .boxi2 p, .boxi3 p {
    color: white;
    text-align: center; /* Alinea el texto al centro */
    margin: 0;
}

.boxi h2, .boxi2 h2, .boxi3 h2{
    font-size: 2rem; /* Ajusta el tamaño de la fuente de los números */
    margin-bottom: 10px;
}

/* Ajustamos los labels */
label {
    font-size: 16px;
    font-family: sans-serif;
    color: white;
    display: block; /* Asegura que el label esté en una línea separada */
    margin-bottom: 5px; /* Espacio entre el label y el input */
}

/* Ajustamos los inputs, select y textarea */
input, select, textarea {
    background-color: rgb(10, 8, 4);
    color: #ededed;
    padding: 10px;
    width: 90%; /* Ajusta el ancho de los campos */
    margin-bottom: 10px; /* Espacio entre los inputs */
    box-sizing: border-box;
}

/* Agrupamos cada par de label e input */
.form-group {
    margin-bottom: 15px; /* Espacio entre los grupos de campos */
    width: 100%;

}
details{
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    color:red;
}
details:hover{
    cursor:pointer;
}
summary{
    font-family: sans-serif;
}
li{
    color: white;
    font-family: sans-serif;
    font-size: 15px;
}
.condiciones{
    font-size: 18px;
    width: auto;
    margin-right: 3px;
    white-space: nowrap;
    display: inline-block;
}
.condiciones .checkbox{
    width: auto;
    margin-left: 10px;

}
table, table td, table tr{
    border: 3px solid #dedede;
    font-size: 30px;
    color: #fefefe;
    font-family: sans-serif;
}
.tabletitle{
    font-size: 40px;
    color: #fefefe;
    font-family: Arial, Helvetica, sans-serif;
}
table td{
    text-align: center;
    padding: 10px;
}
table tr .first-columnTable :hover{
    cursor: pointer;
    box-shadow: #023305 0 0 10px;

}